.message {
  width: 547px;
  height: 523px;
  position: absolute;
  top: 294px;
  left: 396px;

  display: flex;
  flex-direction: column;
  align-items: center;

  h3 {
    font-size: 32px;
    font-weight: 700;
    line-height: 39px;
    letter-spacing: 0.01em;
    text-align: left;
    margin-bottom: 10px;
  }

  p {
    color: rgba(119, 119, 119, 1);
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0.01em;
    text-align: center;
    margin-bottom: 47px;
  }

  img {
    margin-bottom: 74px;
  }

  button {
    cursor: pointer;
    width: 210px;
    height: 46px;
    border-radius: 30px;
    background-color: rgba(40, 40, 40, 1);
    color: rgba(255, 255, 255, 1);

    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0.015em;
    text-align: center;
  }
}