.container {
  position: relative;

  input {
    position: relative;

    width: 200px;
    height: 20px;
    border-radius: 30px;
    padding: 10px 20px 10px 35px;
    border: 1px solid black;
    font-size: 16px;
  }

  img[alt = "search"] {
    position: absolute;
    z-index: 2;
    top: 10px;
    left: 10px;
    opacity: 0.4;
  }

  img[alt = "remove"] {
    cursor: pointer;
    position: absolute;
    top: 10px;
    left: 220px;
  }
}