* {
  margin: 0;
  padding: 0;
  font-family: Nunito;
}

body {
  background-color: rgba(255, 223, 140, 1);
  padding-top: 40px;
}

.wrapper {
  position: relative;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 1);
  max-width: 1400px;
  height: 2000px;
  border-radius: 10px;

  h1 {
    position: absolute;
    top: 256px;
    left: 67px;
  }

  .header-line {
    position: absolute;
    width: 1328px;
    height: 1px;
    top: 137px;
    left: 12px;
    background-color: rgba(246, 246, 246, 1);
  }
}

.header {
  position: absolute;
  top: 49px;
  left: 77px;
  display: flex;
  height: 50px;
  width: 1225px;
  align-items: center;
  justify-content: space-between;

  .logo {
    display: flex;
    align-items: center;
    width: 400px;
    height: 48px;

    img {
      margin-right: 17px;
    }

    h2 {
      font-size: 24px;
      font-weight: 800;
      line-height: 29px;
      letter-spacing: 0.01em;
      text-align: left;
    }

    p {
      font-size: 16px;
      font-weight: 400;
      line-height: 19px;
      letter-spacing: 0em;
      text-align: left;
      color: rgba(123, 123, 123, 1);
    }
  }

  .cart {
    color: rgba(255, 255, 255, 1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(254, 95, 30, 1);
    width: 150px;
    height: 50px;
    border-radius: 30px;

    .price {
      margin-left: 23px;
    }

    .cart-block {
      display: flex;
      margin-right: 23px;

      img {
        margin-right: 8px;
      }
    }
  }
}



.categories {
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 1225px;
  height: 46px;
  top: 178px;
  left: 67px;

  ul {
    list-style-type: none;
    display: flex;

    li {
      background-color: rgba(249, 249, 249, 1);
      height: 46px;
      display: flex;
      align-items: center;
      border-radius: 30px;
      margin-right: 10px;
      padding: 0 30px 0 30px;
      cursor: pointer;

      font-size: 16px;
      font-weight: 700;
      line-height: 19px;
      letter-spacing: 0.015em;
      text-align: center;

      &:hover {
        background-color: darken(#f9f9f9, 2%);
      }
      
      &:active {
        background-color: darken(#f9f9f9, 5%);
      }

      &.active {
        color: #FFF;
        background-color: rgba(40, 40, 40, 1);
      }
    }
  }
}


.sort {
  position: absolute;
  top: 191px;
  right: 103px;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    margin-right: 7px;
  }

  p {
    margin-right: 8px;

    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    letter-spacing: 0.015em;
    text-align: left;
  }

  span {
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0.015em;
    text-align: left;
    color: rgba(254, 95, 30, 1);
    border-bottom: 1px dashed rgba(254, 95, 30, 1);
  }
}

.popup {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 132px;
  height: 130px;
  top: 218px;
  right: 50px;
  border-radius: 10px;
  padding-top: 13px;

  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.09);

  p {
    cursor: pointer;
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    letter-spacing: 0.015em;
    text-align: left;
    padding: 10px 22px 11px 14px;
    
    &:hover {
      background-color: darken(#f9f9f9, 2%);
    }
    
    &:active {
      background-color: darken(#f9f9f9, 5%);
    }

    &.active {
      color: rgba(254, 95, 30, 1);
      background-color: rgba(254, 95, 30, 0.05);
    }
  }
}

.pizza-list {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  top: 330px;
  left: 67px;
  width: 1270px;
}

.pizza-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 280px;
  height: 459px;
  margin-right: 35px;
  margin-bottom: 65px;

  img {
    margin-bottom: 11px;
  }

  h3 {
    font-size: 20px;
    font-weight: 800;
    line-height: 24px;
    letter-spacing: 0.01em;
    margin-bottom: 22px;
  }

  .selector {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 280px;
    height: 85px;
    background-color: rgba(243, 243, 243, 1);
    border-radius: 10px;
    margin-bottom: 17px;

    .dough {
      margin: 7px 5px 0 5px;
    }

    .size {
      margin: 7px 5px 7px 5px;
    }

    ul {
      display: flex;
      align-items: center;
      justify-content: center;
      list-style-type: none;

      font-size: 14px;
      font-weight: 700;
      line-height: 17px;
      letter-spacing: 0.015em;

      li {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        border-radius: 5px;
        margin-right: 5px;

        &:hover {
          background-color: rgba(254, 95, 30, 1);
        }
        
        &:active {
          background-color: darken(#f9f9f9, 5%);
        }

        &.active {
          background-color: rgba(255, 255, 255, 1);
        }
      }
    }

    .dough li {
      width: 131.88px;
      height: 32px;
    }

    .size li {
      width: 86.01px;
      height: 32px;
    }
  }

  .button {
    width: 280px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    h4 {
      font-size: 22px;
      font-weight: 700;
      line-height: 27px;
      letter-spacing: 0.015em;
      text-align: left;
    }

    .add-button img[alt="plus"] {
      margin-left: 17px;
      margin-bottom: 0;
    }

    .add-button {
      cursor: pointer;
      width: 155px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-radius: 30px;
      border: 1px solid rgba(235, 90, 30, 1);

      &:hover {
        background-color: darken(#f9f9f9, 5%);
      }

      &:active {
        background-color:rgba(235, 90, 30, 1);

        p {
          color:#FFF;
        }
      }

      p {
        font-size: 16px;
        font-weight: 700;
        line-height: 19px;
        letter-spacing: 0em;
        text-align: left;
        color: rgba(235, 90, 30, 1);
      }

      .orange-circle {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 22px;
        height: 22px;
        background-color: rgba(235, 90, 30, 1);
        margin-right: 14px;
        border-radius: 50%;

        span {
          color: #FFF;
          font-size: 13px;
          font-weight: 700;
          line-height: 16px;
          letter-spacing: 0em;
          text-align: left;
        }
      }
    }
  }
}